<style>

.button-37 {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

@media (min-width: 768px) {
    .button-37 {
        padding: 10px 30px;
    }
}

#login .container #login-row #login-column #login-box {
    margin-top: 50px;
    height: 410px;
    border: 1px solid #d2caca;
    border-radius: 5px;
}

#login .container #login-row #login-column #login-box #login-form {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
}

.form-field {
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    margin-top: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-check-input:checked{
    background-color: black !important;
}

.form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem black !important;
}

#iban-input-field {
    width: 400px;
}

#iban-container {
    background-color: #F5F5F5;
    max-width: 800px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#iban-container-2 {
    margin-top: 30px;
}

#transfer-container {
    margin-top: 40px;
}

#transfer-container-2 {
    background-color: #F5F5F5;
    max-width: 800px;
    height: 150px;
}

#transfer-container-3 {
    margin-top: 50px;
}

#transaction-container {
    margin-top: 60px;
    max-width: 800px;
}

#transaction-title {
    margin-bottom: 10px;
}

.transaction-table-header {
    background-color: #5CB85C;
    color: white;
}

.table>thead {
    vertical-align: middle;
}

.account-balance {
    font-weight :bold;
    border-radius: 15px;
    margin-bottom: 20px;
}

tr {
    width: 100%;
    height: 60px;
}

</style>